# -----------------------------
# Python backend
# -----------------------------
python-backend/venv/
python-backend/__pycache__/
python-backend/*.pyc
python-backend/.env
python-backend/nextjs_chroma_db/

# -----------------------------
# Next.js frontend
# -----------------------------
front-end/node_modules/
front-end/.next/
front-end/out/
front-end/.env.local

# -----------------------------
# OS files (Windows)
# -----------------------------
Thumbs.db
.DS_Store